.hot-reply{
  .avatar{
    @extend %flex-between;
    .avatar-photo{
      @extend %flex-between;
      .level{
        .face-wrap{
          border-radius: 50%;
          overflow: hidden;
        }
      }
      .avatar-name {
        margin-left: 6px;
        .master-name{
          color: #44494D;
          display: block;
          height: 16px;
          font-size: 14px;
          font-weight: bold;
          max-width: 200px;
        }
        .master-time{
          color: #B5B8BB;
          padding-top: 7px;
          font-size: 12px;
          line-height: 10px;
        }
      }
    }
    .avatar-operate{
      @extend %flex-between;
      .avatar-operate-thumb{
        @extend %flex-between;
      }
    }
  }
}
