.recommend-mode{
  background: #fff;
  .title{
    position: relative;
    padding: 5px 0 5px 32px;
    height: 30px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #e6e6e6;;
    color: #44494D;
    background: #FBFCFD;
    .icon{
      font-size: 16px;
      position: absolute;
    }
    .icon-relateRec {
      color: #FC4840;
      left: 12px;
      top: 8px;
    }
    .icon-newComment {
      color: #0ccE7d;
      left: 12px;
      top: 9px;
    }
    .icon-hotComment{
      color: #fd7c06;
      left: 12px;
      top: 8px;
    }
  }
  .recommend-list{
    @extend %flex-between;
    padding: 12px 12px 12px 0;
    margin: 0 0 0 12px;
    &:not(:last-child){
      border-bottom: 1px solid #e6e6e6;
    }
    .left{
      flex:1;
      margin-right: 12px;
      height: 74px;
      .name {
        margin: 0 0 13px 0;
        font-size: 17px;
        line-height: 24px;
        color: #44494D;
        @extend %txtHide2;//两行文字隐藏加省略号
      }
      .time-recom {
        margin-bottom: -2px;
        .time{
          font-size: 12px;
          color: #B5B8BB;
        }
      }
    }
    .right{
        border-radius:2px;
        overflow: hidden;
    }
  }
}
