@import "public/_reset";
@import "public/_common";
@import "public/_flex";
@import "public/_font";//字体
// @import "_lazy";
// @import "_tag";
// @import "news/_video-news";

// @import "_level";

@import "news/_header";
@import "news/_related";
@import "news/_hotReviews";
@import "news/_latestReviews";
// @import "news/_content";
//@import "news/_footer";//评论点赞

body{
	font-size:16px;
	background-color: #eff2f5;
}

html {
      font-size: 100px;
}
.reply {
	&>div:not(:last-child):after {
		content: '';
		display: block;
		min-width: 100%;
		height: 10px;
		background: #eff2f5;
	}
	ul {
		padding: 0 0 0 12px;
	}
}
