/* common组件 */
@import "_theme"; //换肤
@mixin media($minWidth,$fontSize) {
    @media(min-width: $minWidth) {
        html {
            font-size: $fontSize;
        }
    }
}

//字体
$fonts: (
    style:(
        ff:font-family
    ),
    size:(//不能写成$size 会报错未定义
        fz:font-size,
        lh:line-height
    ),
    position:(
        tx:text-align,
        vl:vertical-align
    )
);
//内容字体大小
$fontSizeTheme: (//入口函数参数和daynight不同 无法统一
    fontSmall:(
        fz:.18,
        lh:.30
    ),
    fontMiddle:(
        fz:.2,
        lh:.3
    ),
    fontBig:(
        fz:.21,
        lh:.34
    )
);
//大小图切换
$imgSize: (
    imgSmall:(
        mw:2rem
    ),
    imgBig:(
        mw:100%
    )
);
//背景
$background: (
    url:(
        img:background-image
    ),
    size:(
        sz:background-size
    ),
    position:(
        pz:background-position,
        re:background-repeat
    )
);
@mixin font($arr) {
    @each $k, $v in $arr {
        @if map-has-key(map-get($fonts, size), $k) {
            #{map-get(map-get($fonts,size),$k)}: #{$v}rem;
        } @else if map-has-key(map-get($fonts, style), $k) {
            #{map-get(map-get($fonts,style),$k)}: #{$v};
        } @else if map-has-key(map-get($fonts, position), $k) {
            #{map-get(map-get($fonts,position),$k)}: #{$v};
        }
    }
}

@mixin background($arr) {
    @each $k, $v in $arr {
        background-repeat: no-repeat;
        @if map-has-key(map-get($background, url), $k) {
            #{map-get(map-get($background,url),$k)}: url(../images/#{$v}.png);
        } @else if map-has-key(map-get($background, size), $k) {
            #{map-get(map-get($background,size),$k)}: #{$v};
        } @else if map-has-key(map-get($background, position), $k) {
            #{map-get(map-get($background,position),$k)}: #{$v};
        }
    }
}

$border-position-all: all !default;
$border-default-size: 1px !default;
$border-default-pattern: solid !default;

@mixin border($border-position: $border-position-all,
  $border-size: $border-default-size,
  $border-pattern: $border-default-pattern
) {

    @if $border-position == $border-position-all {
        border: $border-size $border-pattern;
    } @else {
        border-#{$border-position}: $border-size $border-pattern;
    }
}

$small: map-get($fontSizeTheme, small) !default;
@mixin fontSizeTheme($style:$small) {
    @if map-has-key($fontSizeTheme, $style) {
        .#{$style} & {
            $fz: map-get(map-get($fontSizeTheme, $style), fz);
            $lh: map-get(map-get($fontSizeTheme, $style), lh);
            @include font((fz:#{$fz}, lh:#{$lh}));
        }
    }
}

@mixin imgSize($style:imgBig) {
    @if map-has-key($imgSize, $style) {
        .#{$style} & {
            max-width: map-get(map-get($imgSize, $style), mw);
        }
    }
}

//图片
%imgHack {
    display: block;
    margin: .14rem 0; //图片边距
    vertical-align: bottom;// Hack
    -webkit-user-select: none;//禁用长按事件
}

//图片-图注
%imgNote{
        margin: -.14rem 0 .14rem 0;
        @include font((fz:.15,lh:.20,tx:left));
        @include daynight(color,gray,g1);
        display:inline-block;
        //width: calc(100% - 2*.15rem);
        padding: .15rem;
        background: #000000;
    @each $item in map-keys($imgSize){
        .#{$item} & { //会将item 加到html上
            @if $item == imgBig{
                display:block;
            }
            @else if $item == imgSmall{
                display:none;
            }
        }
    }
}

//图片-大小图切换
%imgSize{//只适用于新闻详情页
    img.inimg,img.outimg{ //发帖图 图片统一这样处理
        @extend %imgHack;
        @each $k, $v in $imgSize {
            @include imgSize(#{$k});
        }
    }
    em{
        @extend %imgNote;
    }
}


//图片-表情
%imgLook{
    display: inline-block;
    vertical-align: text-top;
    margin: 0 0.03rem;
}
//图片-表情 （目前采用的）
img[src*="images/smilies"]{
    vertical-align: middle;
}

//超长省略-单行
%txtHide{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
//超长省略-2行文字隐藏+省略号
%txtHide2{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}

// 给webview容器加的底色
.day{
    background-color: #eff2f5;
}
.night{
    background-color: #212833;
}


// .chuw{
// 	@include fontSizeTheme(small);
// }

// @each $k,$v in $fontSizeTheme {
// 	$a:$k;
// 	.s{
// 		font-size:#{$a};
// 	}

// }

// %concern-style1{ // +
//     @include daynight(color,gray,g1);
//     @include daynight(background-color,blue,b1);
//   }
//   %concern-style2{// !+
//       @include daynight(color,blue,b1);
//       @include daynight(border-color,gray,g3);
//       @include daynight(background-color,gray,g6);
//       @include border();
//   }
//   $concern-type: (//defaultType-style
//     addConcern:concern-style1,
//     cancelConcern:concern-style2,
//     tickConcern:concern-style2,
//     eachConcern:concern-style2
//   );
//   @each $name, $value in $concern-type {
//     .#{$name}{
//       @extend %#{$value};
//       span:before{
//         content: "";
//         display:inline-block;
//         margin:.1rem 0.04rem 0 0;
//         width: .115rem;
//         height: .115rem;
//         @include font((vl:top));
//         @include daynight(background-image,image,#{$name});
//         @include background((sz:cover));
//        }

//     }
//   }

// $concern-type: (//defaultType-style
// 	  addConcern: concern-style1,
// 	  cancelConcern:concern-style2,
// 	  tickConcern:concern-style2,
// 	  eachConcern:concern-style2
// 	);
// 	%concern-style1{ // +
// 		@include daynight(color,gray,g1);
//      	@include daynight(background-color,blue,b1);
// 	}
// 	%concern-style2{// !+
// 		@include daynight(color,blue,b1);
// 	    @include daynight(border-color,gray,g3);
// 	    @include daynight(background-color,gray,g6);
// 	    @include border();
// 	}
// 	@each $name, $value in $concern-type {
// 		.#{$name}{
// 			@extend %#{$value};
// 			// @include daynight(color,gray,g1);
// 	  //    	@include daynight(background-color,blue,b1);
// 	     	// @include daynight(background-image,image,addConcern);
// 			span:before{
// 	    	    content: "";
// 	    	    display:inline-block;
// 				margin:.1rem 0.04rem 0 0;
// 				width: .115rem;
// 				height: .115rem;
//    				@include font((vl:top));
// 				@include daynight(background-image,image,#{$name});
// 				@include background((sz:cover));
// 	    	}

// 		}
// 	}
// @for $i from 1 through 10 {
//     .border-#{$i} { //缩进常常会报错
//             width:$i;
//     }
// }
// @for $i from 1 through 3 {
//     .border-#{$i} {
//         width:$i;
//     }
// }
// .a{
//     width:percentage(1);
// }
.common{
    width:100px;
}
